matplotlib==3.7.5
numpy==1.24.4
pandas==2.0.3
tqdm==4.66.2
smartnoise-synth==1.0.3
torch
mosek
ipumspy
private-pgm @ git+https://github.com/ryan112358/private-pgm.git@e9ea5fcac62e2c5b92ae97f7afe2648c04432564